<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Patient</title>
</head>
<body>

<form id="form" action="/updateP" method="POST">
id of Patient: <input type="text" name="id"><br>
New Name: <input type="text" name="name"><br>
new Age: <input type="text" name="age"><br>
New Contact:<input type="text" name="contact"><br>
New blood Group: <input type="text" name="bg"><br>
New doc id: <input type="text" name="docid"><br>
<input id="submit" type="submit" name="submit" value="submit">
</form>

</body>
</html>