<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Doctor</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>
<body>
<form id="form" action="/updateD" method="POST">
id of Doctor: <input type="text" name="id"><br>
New Name: <input type="text" name="name"><br>
new Age: <input type="text" name="age"><br>
New Contact:<input type="text" name="contact"><br>
New Spec: <input type="text" name="spec"><br>

<input id="submit" type="submit" name="submit" value="submit">
</form>


</form>

</body>
</html>